# Data
data/

# Environment
.env
__pycache__/
*.pyc

# Model artifacts
*.pkl
*.pt
*.bin
models/chroma_store/

# Logs
logs/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Conda
*.egg-info/
dist/
build/
